

.big {
    font-size:160%;
    font-family: 'PT Serif', georgia, serif;
    margin-bottom:1em;
    display:block;

}
.intitule{
    font-size:110%;
    font-family: 'PT Serif', georgia, serif;
    margin-bottom:1em;
    background-color: #CCC;
    border-radius: 0.2em;
    -moz-border-radius: 3px;
    display:block;

}
.content p,div, h1, h2,h3,table,tr {
    font-family: 'Open Sans', Arial, sans-serif;
}
@media screen { 
    .big  {
        font-size:200%;
        margin-left:auto;
        margin-right:auto;
        margin-top:.5em;
        margin-bottom:.5em;
        font-family: 'Open Sans', Arial, sans-serif;
        max-width:39em;
        text-shadow: -1px -2px -2px rgba(100,100,100,.7);
    }
#printable { 
    min-height:800px;
    max-width:50em;
    font-size:15px;
display:none;
position:relative;
         margin-left:auto;
         margin-right:auto;

         margin-top:1.2cm;
         margin-bottom:1.2cm;


}
#printable h1 {
    font-size:110%;
}
#printable .coord { 
	line-height:160% !important;
}
#printable h1 {
    line-height:1.2;
}
.decal { margin-left:5em}
}
h3 {
    border-bottom: 1px solid black;
    font-size:110%;
    font-style:italic;
    margin-top:.3em;
}
td.field {
width:30%;
      text-align:right;
color: #666;
       border-right: 1px solid black;
       vertical-align:top;
       padding-right:.5em;
       font-weight:bold;
       font-style:italic;
}


td.is {
    padding-left:.5em;
    text-align:left;
border:0px;
       border-left: 1px solid black;
}
    table {
        font-size:80%;
        margin-top:1em;
        margin-bottom:1em;
width:90%;
    }
@media print { 
    h1 {page-break-before:auto; }
    .decal { top:1cm; margin-left:0em; }
#printable {
position:absolute;
         font-size:10pt;

float:none !important;


}
.coord {
	line-height:150% !important;
}

a,a:visited { color:#333; }
.hint { display:none; }
.hidden { display:none; }
.button { display:none; height:0px; display:none;}
#printable h1,h2 {
    background-color:white ;
    border:0; 
    /*border-bottom:1mm solid black; */}
#impress { display:none; }
    table {
        border-collapse: collapse;
        border-spacing: 0;

    }
}

