.content p,div, h2,h3,table,tr {
   /*margin-left:auto;
    margin-right:auto;
    min-width:40em;
    line-height:1.1;
    max-width:50em;
    */

    font-family: 'Open Sans', Arial, sans-serif;
    font-size:90%;

/*    max-width:50em;*/
}
@media screen { 
.big  {
    font-size:200%;
    margin-left:auto;
    margin-right:auto;
    margin-top:.5em;
    margin-bottom:.5em;
    font-family: 'Open Sans', Arial, sans-serif;
    max-width:39em;
       text-shadow: -1px -2px -2px rgba(100,100,100,.7);
}
}
table {
    font-size:80%;
    margin-top:1em;
    margin-bottom:1em;
    width:90%;
}
.intitule{
    font-size:110%;
    font-family: 'PT Serif', georgia, serif;
    margin-bottom:1em;
    background-color: #CCC;
    border-radius: 0.2em;
    -moz-border-radius: 3px;
    display:block;

}
td.field {
width:30%;
      text-align:right;
color: #666;
       border-right: 1px solid black;
       vertical-align:top;
       padding-right:.5em;
       font-weight:bold;
       font-style:italic;
       text-shadow: -1px -2px -2px rgba(100,100,100,.7);


}
td.is {
    padding-left:.5em;
    text-align:left;
border:0px;
       border-left: 1px solid black;
}
#printable { 
    min-height:800px;
    max-width:70em;
    line-height:1.2;
    display:none ;
    font-size:15px;
    position:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:1.2cm;
    margin-bottom:1.2cm;


}

#printable h1 {
    font-size:110%;
}
#printable h1 {
    line-height:1.2;
}
.decal { margin-left:5em}
@media print { 
    .decal { top:1cm; margin-left:0em; }
    #printable { position:relative; top:-3cm; max-width:50em; margin:2cm; }
    .hidden { visibility: hidden; }
    .button { visibility:hidden; height:0px; display:none;}
    #printable h1,h2 { background-color: white; border-bottom:1mm solid black; }
    #impress { visibility: hidden; }
}

